#logger-container {
  display: flex;
  flex-direction: column;
}

.emphasised {
  font-weight: bold;
}

.item {
  width: 90%;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid lightgray;
}

.php_new_log {
  background-color: lightgreen;
}

.php_mysql {
  background-color: lightblue;
}

.float_right {
  float: right;
}

#errors {
  width: 75%;
}

#errors tr {
  border-collapse: collapse;
}

.php_e_user_notice,
.php_developer {
  color: green;
}

.php_e_warning,
.php_e_notice,
.php_e_deprecated,
.php_e_recoverable_error,
.php_e_user_deprecated,
.php_e_user_error,
.php_e_user_warning {
  color: blue;
}

.php_e_parse,
.php_e_compile_error,
.php_e_compile_warning,
.php_e_core_error,
.php_e_core_warning,
.php_e_error,
.php_e_strict {
  color: red;
}